# Wails Build Artifacts
build/bin/
frontend/dist/
frontend/wailsjs/
frontend/package.json.md5

# Go
go.work
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

